[submodule "MECC"]
	path = MECC
	url = https://github.com/Scylidose/MECC
[submodule "AISNA"]
	path = AISNA
	url = https://github.com/Scylidose/AISNA
[submodule "VoiceCoding"]
	path = VoiceCoding
	url = https://github.com/Scylidose/VoiceCoding
[submodule "CancerDetection"]
	path = CancerDetection
	url = https://github.com/Scylidose/CancerDetection
[submodule "Discord-Bot"]
	path = Discord-Bot
	url = https://github.com/Scylidose/Discord-Bot/
[submodule "RasPIT"]
	path = RasPIT
	url = https://github.com/Scylidose/RasPIT
[submodule "PokeBeats"]
	path = PokeBeats
	url = https://github.com/Scylidose/PokeBeats
[submodule "BATPredict"]
	path = BATPredict
	url = https://github.com/Scylidose/BATPredict
[submodule "TweetFeel"]
	path = TweetFeel
	url = https://github.com/Scylidose/TweetFeel
[submodule "NarrativeAI"]
	path = NarrativeAI
	url = https://github.com/Scylidose/NarrativeAI.git
[submodule "DirectFind"]
	path = DirectFind
	url = https://github.com/Scylidose/DirectFind
